.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 72px;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  width: 100%;
  background: transparent;
  color: var(--brand-500);
  border: 1px solid var(--brand-500);
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  font-weight: bold;
  display: block;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
